body {
	background: url("../img/japan.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

h5 {
	font-family:'Pacifico', cursive;
}

p {
	font-family: 'EB Garamond', cursive;
}

.germanflag {
	width: 20px;
}

.usflag {
	width: 20px;
}